@import "breakpoints";
.spacer {
  height: 2.5rem;
}

mat-sidenav-content {
  padding: 2.5rem 5rem;

  @media screen and #{$breakpoint-xsmall} {
    padding: 2.5rem 0;
  }

  @media screen and #{$breakpoint-xsmall} {
    margin-top: 8rem;
  }
}

mat-sidenav {
  width: 400px;
  position: fixed;

  @media screen and #{$breakpoint-xsmall} {
    width: 100%;
  }
}
